<ul>
    <li>
        <a href="/members">Member Home</a>
    </li>
    <li>
        <a href="/members/profile">Member Profile</a>
    </li>
    <li>
        <a href="/members/createPing">Create Ping</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>